@model IEnumerable<Grocery>

@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-header">
        <h1 class="fs-3 fw-light">Track your current tasks</h1>
        <a asp-action="Create">Create</a> |
        <a href="" class="text-secondary" data-toggle="modal" data-target="#sortModal">Sort</a> |
        <a class="text-danger" asp-action="DeleteAll" onclick="return confirm('Are you sure you want to delete all tasks in the system?')">Clear All</a>
    </div>

    <div class="card-body">
        <form asp-action="Search">
            <input class="form-input" name="searchTerm" placeholder="Search by Name" type="text" />         
            <button class="btn btn-primary" type="submit">Search</button>
        </form>            
        <hr />

        @if (!Model.Any())
        {
            <div class="alert alert-secondary">
                You have no groceries in the system
            </div>
        } else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Date Created</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>                                        
                    @foreach (var item in Model)
                    {
                        <tr>                                            
                            <td>
                                <div class="">
                                  <input type="checkbox" disabled value="@item.IsCompleted" @(item.IsCompleted ? "checked='checked'" : string.Empty)>
                                </div>                               
                            </td>
                            <td class="d-flex align-items-center">@item.Name</td>
                            <td>@item.Category?.Name</td>
                            <td>@item.PriceString</td>
                            <td>@item.CreatedAtString</td>  
                            <td>                                 
                                <a asp-action="Edit" asp-route-id="@item.Id" class="text-success">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger" onclick="return confirm('Are you sure you want delete this task?')">Delete</a>                                                                                     
                            </td>
                        </tr>
                    }                                
              </tbody>
            </table>

            <!-- Sort Modal -->
            <div class="modal fade" id="sortModal" tabindex="-1" role="dialog" aria-labelledby="sortModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form asp-action="Sort">
                        <div>
                            <label class="control-label mb-1 text-secondary">Sort By</label>
                            <select name="sortBy" class="custom-select mb-3">
                                <option>CreatedAt</option>
                                <option>Price</option>
                            </select>
                        </div>                       

                        <div>
                            <label class="control-label mb-1 text-secondary">Order By</label>
                            <select name="orderBy" class="custom-select mb-3">
                                <option>Asc</option>
                                <option>Desc</option>
                            </select>
                        </div>                       
                        <button type="submit" class="btn btn-primary">Sort</button>
                    </form>
                  </div>                 
                </div>
              </div>
            </div>

            <!-- Original Grocery List Layout -->
            @*<ul class="list-group list-group-flush">
                @foreach (var item in Model)
                {
                    <li class="list-group-item d-flex">
                        <div class="" style="margin-right: 5px">                            
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" disabled type="checkbox" value="@item.IsCompleted" @(item.IsCompleted ? "checked='checked'" : "") />
                                </label>
                            </div>                    
                        </div>
                        <div>
                            <small class="text-secondary">@item.CreatedAtString</small>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger" onclick="return confirm('Are you sure you want delete this task?')">Delete</a>
                            <p>@item.Name - @item.PriceString</p>
                            <p>@item.Category</p>
                        </div>
                    </li>                  
                }
            </ul>*@
        }
    </div>
</div>
